<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css\style.css">

    <link rel="icon" href="data:;base64,=">
    <!-- my custom CSS goes here -->

    <title>Certifications</title>
  </head>
  <body>
    <header class="row">
      <h1>Oconee County Fire Rescue</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="userProfile">
      <a class="navbar-brand" href="index.html"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="member_list.html" id="DropDown">Members<span class="sr-only">(current)</span></a>
          </li>
		  <li class="nav-item">
		     <a class="nav-link" href="MemberDetails.html" id="DropDown">Member Details</a>
          </li>
		  <li class="nav-item active">
		     <a class="nav-link" href="cert_list.html" id="DropDown">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="CertificationDetails.html" id="DropDown">Certification Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="memberCertification.html" id="DropDown">Members' Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html" id="DropDown">Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>Certifications</h1>

    <div id="certificationTable" >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Agency</th>
            <th scope="col">Name</th>
            <th scope="col">Standard Expiry</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr v-for="certification in certList">
            <td>{{ certification.certificationID }}</td>
            <td>{{ certification.certifyingAgency }}</td>
            <td>{{ certification.certificationName }}</td>
            <td>{{ certification.standardExpiry }}</td>
            <td class="deleteTd">
              <button class="btn btn-small btn-danger" v-on:click="deleteCert(certification.certificationID)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>Add a Certification</h2>

      <form method="post" v-on:submit.prevent="createCertification()" id="newCertificationForm">
        <div class="certifications">
          <textarea v-model="newCertification.certificationText" class="form-control" rows="3"></textarea>
        </div>
        <br/>
        <input type="submit" value="Create Certification" class="button" id="submitNewCertification">
        <!--
        <button class="btn btn-primary" type="submit" id="submitNewComment">Comment</button>
      -->
      </form>
    </div>

    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="js/cert.app.js"></script>
  </body>
</html>
